* {margin:0;padding:0;transition:all 0.3s;}
body {font-family:Verdana, Arial, Roboto;font-size:1em;height: 100vh;width:100%;display:flex;justify-content:center;align-items: center;background-image: url("space.jpg");background-size:cover;background-repeat:repeat-y;animation: 5s linear infinite moverSpace;}
.content-juego {display:flex;justify-content: center;flex-direction: column;}
.content-juego > .menu {display: flex;align-items:center;flex-direction: row;justify-content:space-between;background:rgba(0, 0, 0, .5);padding:10px;border-radius:5px;color:white;}
.content-juego > canvas {box-shadow:0 0 10px 1px black;}
button {border:none;padding:10px;cursor:pointer;border-radius:3px;}
button:nth-child(1) {background:#2c244d;color:#fff}
button:hover {background:rgba(225, 225, 255, .5)}
.menu-derecha {
    display: flex;
    flex-direction: column;
    background:rgba(225, 225, 225, .5);
    padding:10px;
    margin:10px;
    box-shadow: 0 0 10px 1px black;
} .menu-derecha form {
    display: flex;
    flex-direction: column;
} .menu-derecha form input {
    margin:10px;
    padding:10px;
} .mostrar {
    margin:20px auto;
}
@keyframes moverSpace {
    from {background-position: 0 100%;}
    to {background-position: 0 0;}
}